<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TRWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="ProdBizcashConnStr" connectionString="Data Source=sqlentdblstn;Initial Catalog=bizcash;Persist Security Info=True;User ID=bizcashdbo;Password=&quot;OFu=m?ujriK[&quot;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LDAPsvcAcct" value="CITY\bizcash" />
    <add key="LDAPsvcPass" value="4u2loginbts1!" />
    <add key="env" value="Prod" />
    <add key="batFile" value="C:\ERPDataExports\runEpaymentProgram.bat" />
    <add key="OCRAccela" value="C:\ERPDataExports\OCRAccela.bat" />
    <add key="KUBRABatFile" value="C:\ERPDataExports\runKUBRADownload.bat" />
    <add key="KUBRAUploadBatFile" value="C:\ERPDataExports\runKUBRAUpload.bat" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <customErrors mode="Off" />
    <!--<identity impersonate="true" userName="CITY\bizcash" password="4u2loginbts1!" />-->
    <authentication mode="Windows" />
    <authorization>
      <allow users="*" />
      <deny users="?" />
    </authorization>
    <httpRuntime executionTimeout="1800" maxRequestLength="20000" useFullyQualifiedRedirectUrl="false" requestLengthDiskThreshold="20000" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICashieringService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="true" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://erpbiztalk.cityofmadison.com/CashieringService/CashieringService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICashieringService" contract="CashieringService.ICashieringService" name="BasicHttpBinding_ICashieringService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <TRWeb.Properties.Settings>
      <setting name="TRWeb_erpbiztalkReportService_ReportExecutionService" serializeAs="String">
        <value>http://sqlentdb1:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
    </TRWeb.Properties.Settings>
  </applicationSettings>
  <system.net>
    <mailSettings>
      <smtp from="noreply@cityofmadison.com">
        <network host="mail.cityofmadison.com" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
<!--ProjectGuid: {82145762-D860-483F-A3BC-E398F724DF46}-->